/*Estilos locais do Atlas Store-Novidades */

*{
    background-color: transparent;
}

.page-novidades {
    color: white !important;
    padding-bottom: 2px;
    border-bottom: 1px solid orangered;
}

.page-novidades:hover {
    border-color: white !important;
    transition: ease all 0.25s;
}


.apresentacao-novidades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94vh;
    width: 100%;
    background-color: black;
}

.apresentacao-novidades h3 {
    text-transform: uppercase;
}

/*Imagem solo em Destaque-parte inicial*/
.apresentacao-textos-img-destaque {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)),
              url("../images/novidades/img-background-novidades.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    padding: 50px 40px;
    margin-top: 15px;
}

.apresentacao-textos-img-destaque h2 {
    color: white;
    font-size: 50px;
}

.apresentacao-textos-img-destaque h3 {
    color: orangered;
    font-size: 10px;
}

.apresentacao-imagens-novidades img {
    width: 100%;
    margin: 0;
    border-radius: 15px;
}

/*CARDS*/

.produto {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.produto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.selo-novidades {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orangered;
    color: white;
    font-size: 7px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px; /*espeçamento entre letras*/
    z-index: 2;
    box-shadow: 0 2px 8px rgba(255, 69, 0, 0.4); /* sombra colorida = destaque premium */
    text-transform: uppercase; /*Transforma em caixa alta*/
}

.info-produto {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.3) 70%, transparent 100%);
  color: #fff;
  text-align: left;
  letter-spacing: 0.5px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.produto:hover .info-produto {
  opacity: 1;
}

.produto h3 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #ccc; 
    margin-bottom: 4px;
}

.produto p {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}

.secao-label-tamanho {
    text-align: center !important;
    font-size: 7px !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    color: gray !important;
}

.tamanhos {
    display: flex;
    gap: 18px;
    margin-bottom: 10px;
}

.tamanho {
    background: none !important;
    border: none !important;
    border-bottom: 2px solid transparent !important;
    color: #999;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 2px;
    transition: 0.25s all ease;
}

.tamanho:hover {
    color: white !important;
}

.tamanho.selecionado { /*Ativar Via JS depois-Botão selecionado*/
    border-bottom-color: orangered !important;
    color: white;
}

.area-botao {
    border-top: none; 
    margin-top: 0;
    background-color: transparent !important;
}

.produto button {
    width: 100%;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 0.8px;
    background-color: transparent;
    border: 1px solid orangered;
    color: orangered;
    padding: 6px;
    border-radius: 4px; 
    transition: 0.25s all ease;
    cursor: pointer;
}
.produto button:hover {
    background-color: orangered;
    color: white;
}

.produto img {
    transition: transform 0.4s ease;
}

.produto img:hover {
    transform: scale(1.05);
}

/* ---------- SETAS DE NAVEGAÇÃO (visual, ativar via JS depois) ---------- */

.produto .seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.3);
    color: white;
    border: none;
    font-size: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: 0.25s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto:hover .produto .seta, .produto:hover .seta {
    opacity: 0.7;
}

.produto .seta:hover {
    background: rgba(255, 68, 0, 0.537);
    color: white;
    border: none;
    opacity: 1;
}

.produto .seta-esquerda {
    left: 8px;
}

.produto .seta-direita {
    right: 8px;
}



/*PRIMEIRA CENTRAL NOVIDADES-CARDS*/

.primeira-central-novidades {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 25px;
    border-radius: 15px;
    align-items: center;
    height: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.primeira-central-novidades img {
    flex: 1;
    max-width: 100%;
    height: auto;
}

/*SEGUNDA CENTRAL NOVIDADES-STREETWEAR*/

.segunda-central-novidades {
    display: flex;
  height: 60vh;
  align-items: center;
  justify-content: space-between;
  /* primeiro o degradê, depois a imagem */
  background:   linear-gradient(to right, black, rgba(0, 0, 0, 0)), /*degradê 1*/
                linear-gradient(to bottom, black, rgba(0, 0, 0, 0)), /*degradê 1*/
                url("../images/novidades/img-background-novidades-central.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 10px;
}

.segunda-central-novidades-textos {
    flex: 1; /*Ocupa metade da largura disponível*/
    max-width: 50%;
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.segunda-central-novidades-textos h2 {
    font-size: 12px;
    color: orangered;
    margin-bottom: 10px;
}

.segunda-central-novidades-textos h3 {
    font-size: 60px;
    margin-bottom: 10px;
    color: white;
}

.segunda-central-novidades-textos p {
    font-size: 16px;
    color: grey;
    margin-bottom: 30px;
    margin-right: 20px;
}

/*botão*/
.btn-novidades {
    color: white;
    border: 2px solid rgba(169, 169, 169, 0.406);
    border-radius: 6px;
    text-decoration: none;
    padding: 15px;
    padding-right: 25px;
    font-weight: bolder;
    font-size: 13px;
}

.btn-novidades:hover {
    border-color: orangered;
    transition: all 0.3s ease; /*Animação suave*/
}

/*TERCEIRA CENTRAL NOVIDADES-CARDS*/

.terceira-central-novidades {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    height: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

    /*RODAPÉ*/


    .logo-rodape {
        margin-right: 30px;
    }

    .rodape {
        border-top: 1px solid grey;
        background-color: black;
        padding-left: 20px;
        display: flex;
        max-width: 100%;
        height: 20vh;
        color: white;
        gap: 120px;
        align-items: center;
        margin-top: 15px;
    }
    .rodape-titulo {
        text-transform: uppercase;
        font-size: small;
        margin-bottom: 10px;
    }

    .rodape-links {
        text-decoration: none;
        color: grey;
        display: flex;
        font-size: smaller;
        padding-top: 3px;
    }

    .rodape-links:hover {
        color: white;
        transition: ease all 0.25s;
    }

    .rodape-insta, .rodape-tiktok, .rodape-youtube {
        color: grey;
        text-decoration: none;
        font-size: large;
        margin-right: 15px;
    }

    .rodape-insta i:hover {
    background: linear-gradient(45deg, 
    #feda75, 
    #fa7e1e, 
    #d62976, 
    #962fbf, 
    #4f5bd5);
  background-clip: text; /* versão padrão */
  -webkit-background-clip: text; /* compatibilidade */
  color: transparent; /* versão padrão */
  -webkit-text-fill-color: transparent; /* compatibilidade */
  transition: all ease 0.25s;
    }

    .rodape-insta:hover {
        transition: all ease 0.25s;
    }

    .rodape-tiktok:hover {
        color: white;
        transition: all ease 0.25s;
    }

    .rodape-youtube:hover {
        color: red;
        transition: all ease 0.25s;
    }



