/*Estilos globais do Atlas Store */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
}

header nav {
    display: flex; /*Flexbox ativo*/
    justify-content: space-between; /*Espaço entre itens*/
    align-items: center; /*Alinha verticalmente*/
    gap: 20px; /*Espaço entre os blocos*/
    padding: 10px 20px; /*Espaço interno do header*/
    background-color: black;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


/*LOGO*/

.logo {
    text-decoration: none;
}

.logo h1 {
    margin: 0;              /* remove margens padrão */
    line-height: 60px;      /* igual à altura do nav */
    display: flex;          /* garante alinhamento interno */
    align-items: center;    /* centraliza verticalmente o texto */
    text-decoration: none;
    gap: 2px;
    padding-left: 20px;
}

.logo-atlas {
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.logo-ponto {
    color: orangered;
    vertical-align: middle;
    font-size: 25px;
}

.logo-store {
    color: grey;
    font-size: 20px;
    font-weight: lighter;
}

/*MENU*/

.menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: small;
}

.menu a { /*Apenas o texto da lista*/
    color: grey;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu.active {
    display: block; /* Mostra o menu (antes estava oculto no @media) */
    width: 100%; /* Ocupa toda a largura disponível */
}

.menu.active ul {
    flex-direction: column; /* Empilha os itens em coluna (vertical) */
    gap: 10px;
    background-color: black;
    padding: 10px;
}

/*ACTIONS*/

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.actions ul { 
    display: flex;
    text-decoration: none;
    gap: 20px;
}

.login { /*LOGIN*/
    color: white;
    text-decoration: none;
    border: 1px solid rgba(169, 169, 169, 0.406);
    border-radius: 2px;
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 13px;
    font-weight: bold;
}

.login i {
    font-size: 12px;
    padding-right: 3px;
}

.login:hover {
    border-color: orangered;    
    transition: all 0.3s ease; /*Animação suave*/
}

.carrinho { /*CARRINHO*/
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.menu-btn { /*MENU*/
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding-right: 20px;
}



/*MAIN*/

main {
    margin-top: 40px; /* espaço para não ficar escondido */
}

.apresentacao {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background:   linear-gradient(to right, black, rgba(0, 0, 0, 0)), /*degradê 1*/
                linear-gradient(to bottom, black, rgba(0, 0, 0, 0)), /*degradê 2*/
                url("../images/apresentacao/img-apresentacao-backgroundtwo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}


/*TEXTOS*/
.apresentacao-textos {
    flex: 1; /*Ocupa metade da largura disponível*/
    height: 100vh;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 40px !important;
    background-color: transparent;
}

.slogan-um {
    display: flex;
    align-items: center;
    gap: 15px;
    color: grey;
    font-size: 1px;
    white-space: nowrap;
    margin-right: 40px;
}

.slogan-um span i {
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: grey;
    margin-right: 10px;
}

.slogan-um .texto {
    flex: 0 1 auto;
    white-space: nowrap;
    letter-spacing: 5px ;
    font-size: 8px;
}

.apresentacao-textos h3 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    padding-bottom: 5px;
    letter-spacing: 2px;
    margin-right: 40px;
}

.apresentacao-textos h3 span {
    color: orangered;
    display: block;
}

.apresentacao-textos .texto-um {
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-right: 40px;
}

.apresentacao-textos .texto-dois {
    display: flex;
    align-items: center;
    gap: 15px;
    color: grey;
    font-size: 10px;
    white-space: nowrap;
    margin-right: 40px;
    justify-content: space-between;
}

/*ÍCONES*/
.menu-icons {
    display: flex ;
    justify-content: space-between;
    gap: 18px;
    margin-right: 40px;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;    
}

.item {
    color: lightgrey;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone {
    font-size: 20px;
    margin-bottom: 8px;
}

.texto {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*BOTÕES*/

.apresentacao-botoes {
    margin-right: 40px;
    background-color: transparent !important;
}

.btn-colecao {
    display: inline-block;
    color: black;
    background-color: orangered;
    border: 1px solid orangered;
    padding: 15px;
    transition: all 0.1s ease;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 12px
}

.btn-colecao i {
    font-size: 12px;
    font-weight: bold;
    background-color: transparent !important;
}

.btn-colecao:hover {
    transition: all ease 0.25s;
    background-color: rgb(255, 60, 0);
    color: white !important;
}

.btn-esportiva {
    color: white;
    margin-left: 20px;
    letter-spacing: 2px;
    border: 1px solid white;
    text-decoration: none;
    padding: 15px;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    font-size: 12px;
}

.btn-esportiva:hover {
    border-color: orangered;
    transition: all 0.25s ease;
}

/*MENU CENTRAL*/
.menu-central ul {
    display: flex;
    max-width: 100%;
    height: auto;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
}

.menu-central li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 8px 20px;
    background-color: black;
    color: grey;
    font-size: 14px;
}

.menu-central li a:hover {
    color: white;
    transition: all 0.3s ease; /*Animação suave*/
}

.menu-central i {
    color: orangered;
    padding-right: 8px;
}

.menu-central li a.ativo {
    color: white;
    border-bottom: 2px solid orangered;
    padding-bottom: 12px;
    font-weight: bolder;
}

.menu-central li a.ativo:hover {
    color: orangered;
    border-bottom: 2px solid white;
}

/*RODAPÉ*/


    .logo-rodape {
        margin-right: 30px;
    }

    .rodape {
        border-top: 1px solid grey;
        background-color: black;
        display: flex;
        max-width: 100%;
        height: 20vh;
        color: white;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
        align-items: center;
        margin-top: 15px;
    }

    .rodape-titulo {
        text-transform: uppercase;
        font-size: small;
        margin-bottom: 10px;
    }

    .rodape-ativo {
        text-decoration: none;
        color: white;
        border-bottom: 1px solid orangered;
        display: inline-block !important;
        font-size: smaller;
        padding-top: 3px;
    }

    .rodape-ativo:hover {
        border-bottom: 1px solid white;
        transition: ease all 0.25s;
    }

    .rodape-links {
        text-decoration: none;
        color: grey;
        display: flex;
        font-size: smaller;
        padding-top: 3px;
    }

    .rodape-links:hover {
        color: white;
        transition: ease all 0.25s;
    }

    .rodape-insta, .rodape-tiktok, .rodape-youtube {
        color: grey;
        text-decoration: none;
        font-size: large;
        margin-right: 15px;
    }

    .rodape-insta i:hover {
    background: linear-gradient(45deg, 
    #feda75, 
    #fa7e1e, 
    #d62976, 
    #962fbf, 
    #4f5bd5);
  background-clip: text; /* versão padrão */
  -webkit-background-clip: text; /* compatibilidade */
  color: transparent; /* versão padrão */
  -webkit-text-fill-color: transparent; /* compatibilidade */
  transition: all ease 0.25s;
    }

    .rodape-insta:hover {
        transition: all ease 0.25s;
    }

    .rodape-tiktok:hover {
        color: white;
        transition: all ease 0.25s;
    }

    .rodape-youtube:hover {
        color: red;
        transition: all ease 0.25s;
    }

/*RESPONSIVIDADE*/
@media (max-width: 768px) {
    .logo-atlas {
        font-size: 15px;
    }
    .logo-ponto {
        font-size: 15px;
    }
    .logo-store {
        font-size: 15px;
    }
    .menu {
        display: none; /* esconde o menu em telas pequenas */
    }
    .login {
        display: none; /* opcional: esconde login */
    }
    .main {
        margin-top: 30px;
    }
    .apresentacao {
        flex-direction: column; /*Empilha textos e imagens*/
        text-align: left;
        height: 100vh;
        padding-top: 10px;
    }
    .apresentacao-textos {
        text-align: left;
    }
    .apresentacao-textos h2 {
        font-size: 10px;
    }
    .apresentacao-textos h3 {
        font-size: 40px;
    }
    .apresentacao-textos p {
        font-size: 13px;
    }
    .apresentacao-botoes {
        flex-wrap: wrap;
        display: flex;
        background-color: black;
        margin-right: 25px;
    }
    .btn-colecao {
        margin: 10px auto ;
    }
    .btn-esportiva {
        margin: 10px auto ;
    }
    .apresentacao-textos, .apresentacao-imagens {
        max-width: 100%;
    }
    .apresentacao-imagens img {
        display: none;
    }

     .menu-central ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    height: auto;             /* deixa crescer conforme o conteúdo */
    padding: 10px;
    margin: 0;
  }

  .menu-central li a {
    padding: 12px 20px;       /* reduz padding */
    font-size: 12px;          /* texto menor */
    text-align: center;
    display: inline-block;
  }
}

