/*Estilos Locais do Atlas Store-Fale Conosco*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
}

body {
    background-color: black;
}

header nav {
    display: flex; /*Flexbox ativo*/
    justify-content: center; /*Espaço entre itens*/
    align-items: center; /*Alinha verticalmente*/
    gap: 20px; /*Espaço entre os blocos*/
    padding: 10px 20px; /*Espaço interno do header*/
    background-color: black;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


/*LOGO*/

.logo {
    text-decoration: none;
}

.logo h1 {
    margin: 0;              /* remove margens padrão */
    line-height: 60px;      /* igual à altura do nav */
    display: flex;          /* garante alinhamento interno */
    align-items: center;    /* centraliza verticalmente o texto */
    text-decoration: none;
    gap: 2px;
    padding-left: 20px;
}

.logo-atlas {
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.logo-ponto {
    color: orangered;
    vertical-align: middle;
    font-size: 25px;
}

.logo-store {
    color: grey;
    font-size: 20px;
    font-weight: lighter;
}

main {
    border-top: 2px solid grey;
}

/*Imagem solo em Destaque-parte inicial*/

.apresentacao-faleconosco {
     border-bottom: 1px solid; 
    border-image: linear-gradient(to left, #000000, #444444, #888888, #444444, #000000) 1;
}

.apresentacao-textos-img-destaque {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)),
              url("../../footer/img-background-contato.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    padding: 50px 40px;
    margin-top: 15px;
}

.apresentacao-textos-img-destaque h1 {
    margin-top: 45px;
    color: orangered;
    font-size: 12px;
}

.apresentacao-textos-img-destaque h2 {
    margin-top: 10px;
    color: white;
    font-size: 60px;
}

.apresentacao-textos-img-destaque h3 {
    color: grey;
    font-size: 12px;
    margin-top: 20px;
}

/*BLOCO CENTRAL - FORMULÁRIO E CONTATO*/
.bloco-central {
    background-color: black;
    display: flex;
    width: 100%;
    border-right: 1px solid; 
    border-image: linear-gradient(to left, #000000, #444444, #888888, #444444, #000000) 1;
}

.formulario {
    width: 65%;
    height: 100%;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    color: lightgray !important;
    border-right: 1px solid; 
    border-image: linear-gradient(to top, #000000, #444444, #888888, #444444, #000000) 1;
}

.formulario h2 {
    color: orangered;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 25px;
}

.formulario h3 {
    color: white;
    font-size: 20px;
}

.formulario p {
    color: lightgray;
    font-size: 12px;
}

.input-box {
    display: flex;
    align-items: center;
    color: lightgray;
    gap: 10px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid lightgray;
}

.input-box input {
    border: none;
    outline: none;
    flex: 1;
}

.input-box input::placeholder {
    color: lightgray;
}

.div-assunto {
    display: flex;
    align-items: center;
    color: lightgray;
    gap: 10px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid lightgray;
}

.div-assunto select {
    border: none;
    color: lightgray;
    outline: none;
    flex: 1;
}

.div-mensagem {
    display: flex;
    align-items: start;
    color: lightgray;
    padding: 8px;
    gap: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid lightgray;
}

.div-mensagem textarea {
    border: none;
    color: lightgray;
    outline: none;
    flex: 1;
}

.div-mensagem textarea::placeholder {
    color: lightgray;
}

.botao-formulario {
    display: inline-block;
    color: black;
    width: 80%;
    background-color: orangered !important;
    border: 1px solid orangered;
    padding: 15px;
    transition: all 0.1s ease;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 12px
}

.botao-formulario i{
    font-size: 12px;
    font-weight: bold;
    background-color: transparent !important;
}

.botao-formulario:hover {
    transition: all ease 0.25s;
    background-color: rgb(255, 60, 0);
    color: white !important;
    cursor: pointer;
}

/*BLOCO CENTRAL - NOSSOS CANAIS*/

.canais {
    width: 35%;
    height: 100%;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.nossos-canais {
    color: orangered;
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 25px;
    margin-top: 25px;
}

.div-canais {
    margin-right: 25px;
    margin-left: 10px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 1px;
}

.div-canais i {
    color: white;
    font-size: 30px;
}

.textos {
    display: flex;
    flex-direction: column;
    color: white;
}

.textos .titulo {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.textos .detalhes {
    font-size: 12px;
    color: lightgrey;
    padding-bottom: 2px;
}

.textos .horario {
    color: lightgrey;
    font-size: 12px;
}

.fa-whatsapp:hover {
  color: #25D366;   /* verde oficial do WhatsApp */
  cursor: pointer;
  transition: all ease 0.25s;
}

.fa-instagram:hover {
  background: linear-gradient(45deg, 
    #feda75, 
    #fa7e1e, 
    #d62976, 
    #962fbf, 
    #4f5bd5);
  background-clip: text; /* versão padrão */
  -webkit-background-clip: text; /* compatibilidade */
  color: transparent; /* versão padrão */
  -webkit-text-fill-color: transparent; /* compatibilidade */
  cursor: pointer;
  transition: all ease 0.25s;
}

.fa-envelope:hover {
  color: darkorange;
  cursor: pointer;
  transition: all ease 0.25s;
}

.fa-location-dot:hover {
  color: #FF0000;   /* vermelho para endereço */
  cursor: pointer;
  transition: all ease 0.25s;
}

.img-ouvidoria {
    display: flex;
    width: 10px;
    height: 100px;
    margin-left: 30px;
    margin-top: 10px;
}

/*RODAPÉ*/


    .logo-rodape {
        margin-right: 30px;
    }

    .rodape {
        border-top: 1px solid; 
        border-image: linear-gradient(to left, #000000, #444444, #888888, #444444, #000000) 1;
        background-color: black;
        display: flex;
        max-width: 100%;
        height: 20vh;
        color: white;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
        align-items: center;
        margin-top: 15px;
    }

    .rodape-titulo {
        text-transform: uppercase;
        font-size: small;
        margin-bottom: 10px;
    }

    .rodape-ativo {
        text-decoration: none;
        color: white;
        border-bottom: 1px solid orangered;
        display: inline-block !important;
        font-size: smaller;
        padding-top: 3px;
    }

    .rodape-ativo:hover {
        border-bottom: 1px solid white;
        transition: ease all 0.25s;
    }

    .rodape-links {
        text-decoration: none;
        color: grey;
        display: flex;
        font-size: smaller;
        padding-top: 3px;
    }

    .rodape-links:hover {
        color: white;
        transition: ease all 0.25s;
    }

    .rodape-insta, .rodape-tiktok, .rodape-youtube {
        color: grey;
        text-decoration: none;
        font-size: large;
        margin-right: 15px;
    }

    .rodape-insta i:hover {
    background: linear-gradient(45deg, 
    #feda75, 
    #fa7e1e, 
    #d62976, 
    #962fbf, 
    #4f5bd5);
  background-clip: text; /* versão padrão */
  -webkit-background-clip: text; /* compatibilidade */
  color: transparent; /* versão padrão */
  -webkit-text-fill-color: transparent; /* compatibilidade */
  transition: all ease 0.25s;
    }

    .rodape-insta:hover {
        transition: all ease 0.25s;
    }

    .rodape-tiktok:hover {
        color: white;
        transition: all ease 0.25s;
    }

    .rodape-youtube:hover {
        color: red;
        transition: all ease 0.25s;
    }




